In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

### Load Data

In [13]:
# Paths
yelp_covid19_path = "../data/covid_19_dataset_2020_06_10/yelp_academic_dataset_covid_features.json"
yelp_business_path = "../data/yelp_dataset/yelp_academic_dataset_business.json"
yelp_checkin_path = "../data/yelp_dataset/yelp_academic_dataset_checkin.json"

#Load Data into DF's
yelp_covid_df = pd.read_json(yelp_covid19_path, lines=True)
yelp_b_df = pd.read_json(yelp_business_path, lines=True)
yelp_check_df = pd.read_json(yelp_checkin_path, lines=True)

### Covid Data

In [16]:
print(yelp_covid_df.shape)
yelp_covid_df.head()

(209795, 9)

,business_id,highlights,delivery or takeout,Grubhub enabled,Call To Action enabled,Request a Quote Enabled,Covid Banner,Temporary Closed Until,Virtual Services Offered
0,9kXRUIkwdDtnAPO6tVo51g,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1,H6D5HOTfMjrZt7r1EObZ1g,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
2,FYddq7fUtzobZcw4jOJgVA,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
3,c75jLTjlgA9q3gImLEGT6w,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
4,YfzPiY50h_10Sjlg3mnNWQ,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE

### Business Data

In [17]:
print(yelp_b_df.shape)
yelp_b_df.head()

(209393, 14)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...","{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,1,"{'GoodForKids': 'True', 'ByAppointmentOnly': '...","Health & Medical, Fitness & Instruction, Yoga,...",None
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,1,None,"Pets, Pet Services, Pet Groomers",None
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,0,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Hardware Stores, Home Services, Building Suppl...","{'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ..."
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Plumbing, Electricians, Handyma...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '..."

In [38]:
yelp_b_df["state"].value_counts()[:15]

AZ    60803
NV    39084
ON    36627
OH    16392
NC    16218
PA    12376
QC    10233
AB     8682
WI     5525
IL     2034
SC     1328
CA       23
NY       22
TX        6
WA        5
Name: state, dtype: int64

### Checkin Data

In [18]:
print(yelp_check_df.shape)
yelp_check_df.head()

(175187, 2)

              business_id                                               date
0  --1UhMGODdWsrMastO9DZw  2016-04-26 19:49:16, 2016-08-30 18:36:57, 2016...
1  --6MefnULPED_I942VcFNA  2011-06-04 18:22:23, 2011-07-23 23:51:33, 2012...
2  --7zmmkVg-IMGaXbuVd0SQ  2014-12-29 19:25:50, 2015-01-17 01:49:14, 2015...
3  --8LPVSo5i0Oo61X01sV9A                                2016-07-08 16:43:30
4  --9QQLMTbFzLJ_oT-ON3Xw  2010-06-26 17:39:07, 2010-08-01 20:06:21, 2010...

In [21]:
yelp_check_df.iloc[0]["date"].split(",")

['2016-04-26 19:49:16',
 ' 2016-08-30 18:36:57',
 ' 2016-10-15 02:45:18',
 ' 2016-11-18 01:54:50',
 ' 2017-04-20 18:39:06',
 ' 2017-05-03 17:58:02',
 ' 2019-03-19 22:04:48']